<div class="alert alert-warning" role="alert">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Importante:</strong> Se han realizado ajustes a la metodología de cálculo de los resultados del Índice de 2014 para efectos de poder comparar dichos resultados con los obtenidos en la medición del <a href="indice.transparencialegislativa.org">ILTL 2016</a> y de esa forma evaluar los avances y/o retrocesos registrados en nuestros congresos.
</div>     
	<div class="container">
          <div class="header clearfix">
            <h1 class="title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
            <ul class="nav nav-tabs" role="tablist">
              <li>
                <a href="{{ site.baseurl }}/comparativo.html">Comparativo</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Por país <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{{ site.baseurl }}/argentina">Argentina</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/bolivia">Bolivia</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/chile">Chile</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/colombia">Colombia</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/ecuador">Ecuador</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/guatemala">Guatemala</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/mexico">México</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/peru">Perú</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/uruguay">Uruguay</a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}/venezuela">Venezuela</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Documentación <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="https://drive.google.com/drive/folders/0BwKVMow_jZxeS2lkNkVodDRub2s?usp=sharing" target="_blank">Resultados (por país)</a>
                    </li>
                    <li>
                      <a href="https://docs.google.com/spreadsheets/d/1fWW3uhQcIjQYqsMQUPmiIM5lVz7sLkOGBiKFYq2Sf8Q/edit?usp=sharing">Resultados (todos)</a>
                    </li>
                    <li>
                      <a href="">- - -</a>
                    </li>
                    <li>
                      <a href="https://docs.google.com/spreadsheets/d/1UqSazmrtWddGZTRZL9kTzrkyG-rYsi3E47RjODUBkpQ/pubhtml" target="_blank">Cuestionario</a>
                    </li>
                    <li>
                      <a href="https://docs.google.com/spreadsheets/d/1aqALFT5SvrVKNa0hWpfkwUrhZlbhhc4ArN8tLPzRleU/pubhtml" target="_blank">Libro de códigos</a>
                    </li>
                  </ul>
              </li>
            </ul>
          </div>
      </div>
